papermill
ipykernel
jupyter
nbformat
numpy
pandas
matplotlib
seaborn
scikit-learn
rdkit
PyTDC
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1
torch_geometric==2.6.1
xgboost
transformers